{{> header}}
<div class="center">
    <h3 class="h3_main">Login Here</h3>
    <form method="post">
        <div class="form-group">
            <input type="text" autocomplete="false" placeholder="Email Address" id="txt_email" class="form-control" />
        </div>
        <div class="form-group">
            <input type="password" autocomplete="false" placeholder="Password" id="txt_pass" class="form-control" />
        </div>
        <div class="form-group">
            <button name="btn_submit" class="btn btn-primary" style="width:100%;">Login</button>
        </div>
    </form>
</div>
{{> footer}}