{{> header}}
<div>
    <a href="add-project.html" class="float-right right-link">Add Project</a>
    <h3 class="h3_main">Projects</h3>
</div>
<div class="list-view border border-dark">
    <div class="row">
        <div class="col-sm">
        #
        </div>
        <div class="col-sm">
        Project Name
        </div>
        <div class="col-sm">
        Description
        </div>
        <div class="col-sm">
        Documents
        </div>
        <div class="col-sm">
        Team Lead
        </div>
        <div class="col-sm">
        Members
        </div>
        <div class="col-sm">
        &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
        1
        </div>
        <div class="col-sm">
        <a href="project-detail.html">Goldcrest</a>
        </div>
        <div class="col-sm">
        DHA mall best for investment
        </div>
        <div class="col-sm">
        2 documents
        </div>
        <div class="col-sm">
        Amir    
        </div>
        <div class="col-sm">
        John
        </div>
        <div class="col-sm">
        <a class="far fa-eye" href="project-detail.html">&nbsp;</a>
        </div>
    </div>

    
</div>
{{> footer}}