{{> header}}
<div>
    <h3 class="h3_main">Project Details</h3>
    <div class="border rounded white-box">
        <a href="add-project.html" class="float-right right-link">Edit</a>
        <h4>The New Houses</h4>
        <div class="clearfix detail-box">
            <div>Details</div>
            
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <span class="float-right">Rizwan</span>
                        <b>Team Lead</b>
                    </div>
                    <div>
                        <div class="float-right">
                            <div>
                                <i class="fas fa-paperclip"></i> list-clinets.csv</div>
                            <div>
                                <i class="fas fa-paperclip"></i> sitemap.png</div>
                        </div>
                        <b>Document</b>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <span class="float-right">Sara, Ali, Hasan</span>
                        <b>Members</b>
                    </div>
                    <div>
                        <span class="float-right">Khan</span>
                        <b>Manager</b>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <b class="btn-block">Description</b>
                    A premier structure that embodies the vibrant soul of Lahore, Goldcrest Mall & Residency aims at becoming an iconic landmark for the thriving urban arena that is DHA. With 4 commercial floors, a dedicated mechanical and service floor, 4 floors of ample parking in the basement and 254 breathtakingly luxurious apartments spanning 10 floors, get ready to be swept away by opulent entertainment opportunities and revel in the unrivaled amenities at your fingertips.This exclusive project by Giga Group in collaboration with the DHA is adorned with tastefully stylish and decadent apartments, convenient roadways, proximity of institutions and entertainment hubs, lush green surroundings, and an exhaustive list of facilities.
                </div>
            </div>
            
        </div>
        
        <div class="clearfix comment-box">
            <div>Comments</div>
            <div class="body">
                <form>
                    <div class="row">
                        <div class="col-md-1">
                            <label>Text</label>
                        </div>
                        <div class="col-md-11">
                            <textarea rows="10" class="border-light rounded" style="width:100%;"></textarea>
                        </div>
                    </div>
                    <input class="btn btn-info float-right" type="button" value="Submit">
                    <div class="clearfix"></div>
                </form>
                <h4 style="text-decoration: underline"> 
                    History
                </h4>
                    <div>
                        <div class="border-bottom border-light">
                            <b>Updated by</b>
                            <a href="#">Bob</a>
                            <b>30 days ago</b>
                        </div>
                        <ul>
                            <li>Created
                                <b>New</b> Project by
                                <b>Shafiq Ahmed</b>
                            </li>
                        </ul>
                        <span>Checking the deatils. New document is here</span>
                        
                        <div class="border-bottom border-light">
                            <b>Updated by</b>
                            <a href="#">Bob</a>
                            <b>30 days ago</b>
                        </div>
                        <ul>
                            <li>Created
                                <b>New</b> Project by
                                <b>Shafiq Ahmed</b>
                            </li>
                        </ul>
                        <span>Checking the deatils. New document is here</span>

                        <div class="border-bottom border-light">
                            <b>Updated by</b>
                            <a href="#">Bob</a>
                            <b>30 days ago</b>
                        </div>
                        <ul>
                            <li>Created
                                <b>New</b> Project by
                                <b>Shafiq Ahmed</b>
                            </li>
                        </ul>
                        <span>Checking the deatils. New document is here</span>

                        </div>


        </div>

    </div>
</div>
{{> footer}}